<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Alteração de Filial
        <small>incluir nova</small>
    </h1>
</section>
<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-solid">
                <div class="box-header with-border">
                    <h3 class="box-title">Nova Alteração</h3>
                    <div class="box-tools pull-right">
                        <button class="btn btn-sm" ng-click="$ctrl.cancelCreate()"><i class="fa fa-angle-left"></i> Voltar</button>
                        <button class="btn btn-sm btn-success" ng-click="$ctrl.createDam()" ng-disabled="$ctrl.carregando">
                            <span ng-hide="$ctrl.carregando"><i class="fa fa-check"></i> Salvar</span>
                            <span ng-show="$ctrl.carregando"><i class="fa fa-spinner fa-spin"></i> Salvando...</span>
                        </button>
                    </div>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <form role="form" name="formCreate" novalidate ng-submit="$ctrl.createDam()">
                        <div class="form-body">
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group" show-errors>
                                        <label for="CodCliente">Nº Pedido</label>
                                        <input type="text" class="form-control" id="CodCliente" name="CodCliente" ng-model="$ctrl.dam.codigoCliente" required>
                                        <span id="CodCliente-error" class="help-block help-block-error" ng-if="formCreate.CodCliente.$error.required && !formCreate.CodCliente.$untouched">
                                                O campo é obrigatório.</span>
                                    </div>
                                </div>
                                <div class="col-md-9">
                                    <div class="form-group" show-errors>
                                        <label for="Paciente">Pedidos casados</label>
                                        <input type="text" class="form-control" id="Paciente" name="Paciente" ng-model="$ctrl.dam.paciente" required>
                                        <span id="Paciente-error" class="help-block help-block-error" ng-if="formCreate.Paciente.$error.required && !formCreate.Paciente.$untouched">
                                            O campo é obrigatório.</span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="CRM">Filial De:</label>
                                        <input type="text" class="form-control" id="CRM" name="CRM" ng-model="$ctrl.dam.numeroCrm" required>
                                        <span id="CRM-error" class="help-block help-block-error" ng-if="formCreate.CRM.$error.required && !formCreate.CRM.$untouched">
                                                O campo é obrigatório.</span>
                                    </div>
                                </div>
                                <div class="col-md-9">
                                    <div class="form-group" show-errors>
                                        <label for="Medico">Para:</label>
                                        <input type="text" class="form-control" id="Medico" name="Medico" ng-model="$ctrl.dam.medico" required>
                                        <span id="Medico-error" class="help-block help-block-error" ng-if="formCreate.Medico.$error.required && !formCreate.Medico.$untouched">
                                                O campo é obrigatório.</span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="CRM">Horário de retirada do Cliente De:</label>
                                        <input type="text" class="form-control" id="CRM" name="CRM" ng-model="$ctrl.dam.numeroCrm" required>
                                        <span id="CRM-error" class="help-block help-block-error" ng-if="formCreate.CRM.$error.required && !formCreate.CRM.$untouched">
                                                O campo é obrigatório.</span>
                                    </div>
                                </div>
                                <div class="col-md-9">
                                    <div class="form-group" show-errors>
                                        <label for="Medico">Para:</label>
                                        <input type="text" class="form-control" id="Medico" name="Medico" ng-model="$ctrl.dam.medico" required>
                                        <span id="Medico-error" class="help-block help-block-error" ng-if="formCreate.Medico.$error.required && !formCreate.Medico.$untouched">
                                                O campo é obrigatório.</span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="CRM">Endereço para entrega:</label>
                                        <input type="text" class="form-control" id="CRM" name="CRM" ng-model="$ctrl.dam.numeroCrm" required>
                                        <span id="CRM-error" class="help-block help-block-error" ng-if="formCreate.CRM.$error.required && !formCreate.CRM.$untouched">
                                                O campo é obrigatório.</span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group" show-errors>
                                        <label for="Solicitacao">Motivo</label>
                                        <textarea type="text" class="form-control" id="Solicitacao" name="Solicitacao" ng-model="$ctrl.dam.solicitacao" required rows="3"></textarea>
                                        <span id="Solicitacao-error" class="help-block help-block-error" ng-if="formCreate.Solicitacao.$error.required && !formCreate.Solicitacao.$untouched">
                                                O campo é obrigatório.</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <!-- /.box-body -->
                <!-- Loading -->
                <div class="overlay" ng-show="$ctrl.carregando">
                    <i class="fa fa-refresh fa-spin"></i>
                </div>
                <!-- end loading -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col-md-12 -->
    </div>
    <!-- /.row -->
</section>